---
import '@/styles/globals.css'
import PillNavBarComponent from '@/components/Experimental/PillNavbarFollowCursor2';
import LayoutBlog from '@/layouts/LayoutBlog.astro';
import { blogPosts } from '@/lib/BlogPosts';
import type { BlogPostProps } from '@/lib/BlogPosts';
import BlogArticle from '@/components/BlogPage/BlogArticle.astro'

---

<LayoutBlog title="About@DevBlog">

<section id="welcome-section" class="relative flex justify-end xl:justify-center w-full h-full">
    <!-- navigation -->
    <PillNavBarComponent client:load />
    <!-- content -->
     <!-- wrapper with max-width 1200px -->
    <ul class="gap-4 pt-5 grid grid-cols-4 w-full h-full md:max-w-[430px] lg:max-w-[960px] xl:max-w-[1200px]">
        {blogPosts.map((data: BlogPostProps) => (
            <BlogArticle data={data} />
        ))}
    </ul>

</section>
</Layout>

