---
import Layout from '../layouts/Layout.astro';
import '../styles/globals.css'
// Supports weights 100-900
import InteractiveContentAndButtonsJSXComponent from '@/components/WelcomeSection/InteractiveContentComponent';
import ButtonStageSetComponent from '@/components/WelcomeSection/ButtonStageSetComponent'
import AnimationOsiLayers from '@/components/WelcomeSection/AnimationOsiLayers'
---

<Layout title="DevBlog @Kutsarov">
	<!-- <WelcomeSection />
	<AboutSection />
	<ProjectNourishSection />
	<ContactsSection /> -->

	<!-- welcome section -->
	<section id="welcome-section" class="flex flex-col-reverse md:grid md:grid-cols-2 w-full h-[100vh] bg-gradient-to-b from-slate-700 via-slate-800">
		<span class="flex w-auto h-full flex-col items-center md:items-end md:justify-center">
			<!-- <h1 class="text-4xl font-bold md:text-6xl text-slate-50 max-w-[320px] md:max-w-[460px] mb-2 md:mb-6">Visit the Devlog</h1> -->
			<h1 class="text-4xl font-bold  md:text-6xl text-slate-50 max-w-[320px] md:max-w-[460px] mb-2 md:mb-6">
				<span class="bg-clip-text text-transparent bg-gradient-to-b from-cyan-50 via-cyan-100 to-slate-400">
					Visit the Devlog
				</span>
			</h1>
			<InteractiveContentAndButtonsJSXComponent client:load />
			<!-- buttons -->
			<span class="flex items-center gap-2">
				<ButtonStageSetComponent client:load />
				<a class="bg-slate-500/50 text-zinc-50 px-5 py-3 max-h-14 text-sm font-semibold rounded-lg flex items-center justify-center" href="#">Navigate</a>
			</span>
		</span>
		<AnimationOsiLayers client:load />
	</section>
</Layout>
