---
import Layout from '../layouts/LayoutProjects.astro';
import '../styles/globals.css'
import HeroSection from '@/components/theNourishProject/Hero';
import GridComposition from '@/components/theNourishProject/GridComposition1';
import DemoSection from '@/components/theNourishProject/DemoSection';
---

<Layout title="DevBlog @Kutsarov">
	<main class="flex flex-col bg-transparent h-full items-center relative" >
	<!-- <MainNavbar client:load /> -->
	<HeroSection client:load />
	<GridComposition client:load />
	<DemoSection client:load />
	</main>
</Layout>
