---
import Layout from '../layouts/LayoutProjects.astro';
import '../styles/globals.css'
import MainNavbar from '@/components/navbars/MainNavbar';
import HeroSection from '@/components/theNourishProject/Hero';
import GridComposition from '@/components/theNourishProject/GridComposition1'
---

<Layout title="DevBlog @Kutsarov">
	<main class="flex flex-col bg-transparent h-full items-center relative" >
	<!-- <MainNavbar client:load /> -->
	<HeroSection client:load />
	<GridComposition client:load />
	</main>
</Layout>
