---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/raleway";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
	</head>
	<body class="flex flex-col">
		<slot />
	</body>
</html>
<style is:global>

	@font-face {
		font-family: 'Raleway-Light';
		src: url('/src/fonts/Raleway/Raleway-Light.ttf') format('trueType');
	}

	@font-face {
		font-family: 'Oswald-Regular';
		src: url('/src/fonts/Oswald/static/Oswald-Regular.ttf') format('trueType');
	}

	@font-face {
		font-family: 'Raleway-Bold';
		src: url('/src/fonts/Raleway/Raleway-Bold.ttf') format('trueType');
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1, p, li, button, a, span, ul {
		font-family: 'Oswald-Bold', sans-serif;
	}

	h2 {
		font-family: 'Raleway-Light', sans-serif;
	}

	/* li {
		font-family: 'Raleway-Bold', sans-serif;
	} */
</style>
